body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.container {
    display: block; 
    margin-bottom: 16px; 
  }


  .container div {
    margin-bottom: 8px; 
  }
.navbar_section {
    border-bottom: 1px solid #E7E9FC;
    display: flex;
    align-items: center;
}

.logo_class_bar {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    margin-bottom: 16px;
    display: inline-block;
    color:  #4d5ae5;
}  

  
.studio_heater {
    color: #2e2f42;
}

.nav_container {
    display: flex;
    gap: 40px;
}

.nav_container_section {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    color: #2e2f42;
}
.nav_container_section:hover {
    color: #404bbf;
}
.nav_container_section:focus{
    color: #404bbf;
}


.address_bar {
    font-style: normal;
}

.address_bar_ul {
    display: flex;
    gap: 40px;
}

.address_bar_section {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
}

.address_bar_section:hover {
    color: #404bbf;
}

.address_bar_section:focus {
    color: #404bbf;
}



.nav_container_under {
    background-color: #2e2f42;
    padding: 188px 0;
}


.title_section {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    color: #FFFFFF;
}

.btn-action {
    background-color: #4D5AE5;
    display: block;
    margin: 0 auto;
    font-family: "Roboto" , sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-action:hover {
    background-color:  #404BBF;
}

.btn-action:focus {
    background-color:  #404BBF;
}

/* 
.about-h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
}
*/

.about-section_paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.second-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.second-section-title {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    white-space: nowrap;
    border: 0;
    visibility: hidden;
  }


.about-business_ul {
    display: flex;
    gap: 24px;
}


.about_class {
    width: calc((100%-72px)/4);
}


.third-section {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.our_team_ul {
    display: flex;
    gap: 24px;
}

.third-section-ourteam {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    color:  #2e2f42;
}

.img_class {
    display: block;
}

.ourteam_section {
    background-color: #FFFFFF;
    width: calc((100%-72px)/4) ;
    border-radius: 0px 0px 4px 4px;
}

.our_team_div {
    padding: 32px 0;
}

.member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    color: #2e2f42;
}

.ourteam_prg {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}


.fourth-section {
    background-color: #FFFFFF;
    padding: 120px 0;
}

.our_portfolio_ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.our_portfolio_div {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;   
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
    row-gap: 48px;
}

.our_portfolio_li {
    width: calc((100%-72px)/4);
}

.our_portfolio_title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: #2e2f42;
}

.portfolio_div-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.class_portfolio_paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.footer_section {
    background-color: #2e2f42;
    padding: 100px 0;

}
 
 /* 
 .logo_WebStudio_footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
}
    main-section-h2
*/

.studio_footer {
    color: #F4F4FD;
}

.footer_paragraf {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}