body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.navbar_section {
    border-bottom: 1px solid #E7E9FC
}

.logo_class_bar {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
}  


.studio_heater {
    color: #2e2f42;
}

.nav_container_section {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav_container_section:hover {
    color: #404bbf;
}
.nav_container_section:focus{
    color: #404bbf;
}


.address_bar {
    font-style: normal;
}

.address_bar_section {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
}

.address_bar_section:hover {
    color: #404bbf;
}

.address_bar_section:focus {
    color: #404bbf;
}



.nav_container_under {
    background-color: #2e2f42;
}

.title_section {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.About_Business {
    background-color: #F4F4FD;
}
.btn-action {
    background-color: #4D5AE5;
    font-family: "Roboto" , sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-action:hover {
    background-color:  #404BBF;
}

.btn-action:focus {
    background-color:  #404BBF;
}


.about_h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.about_section_paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



.our_team {
    background-color: #f4f4fd;
}

.ourteam_h2 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:  #2e2f42;
}

.ourteam_section {
    background-color: #FFFFFF;
}

.ourteam_h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.ourteam_prg {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.Our_Portfolio {
    background-color: #FFFFFF;
}

.our_portfolio_title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio_h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.class_portfolio_paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.footer_section {
    background-color: #2e2f42;
}

.logo_WebStudio_footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
}  


.studio_footer {
    color: #F4F4FD;
}

.footer_paragraf {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}